# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Scala-akka-1\actorbintree\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
